# Dependency directories
node_modules/

# dotenv environment variable files
.env
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local

**/.DS_Store

# Build output
/public/*
/build/*

# Ignore zipped app
*.zip

# Ignore devops secrets
eb-key-pair.pem
*.pem